<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    {{template "inc/mate.html" .}}
    {{template "inc/layui_css.html" .}}
    {{template "inc/ie_supper.html" .}}
</head>
<body>
<div class="layui-elem-quote" style="margin-top: 1rem;">
    <p>解析地址</p>
</div>

<fieldset class="layui-elem-field layui-form" style="margin: 1rem; padding: 1rem">
    <legend>解析地址处理</legend>
    <div class="tools-btn">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select id="sel_active">
                        <option value="255">所有</option>
                        <option value="1" selected="">激活</option>
                        <option value="0">作废</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select id="sel_type">
                        <option value="255" selected="">所有</option>
                        <option value="0">万能</option>
                        <option value="1">爱奇艺</option>
                        <option value="2">优酷</option>
                        <option value="3">腾讯</option>
                        <option value="4">乐视</option>
                        <option value="5">搜狐</option>
                        <option value="6">土豆</option>
                        <option value="7">芒果TV</option>
                        <option value="8">PPTV解析</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" data-type="search">搜索解析地址</button>
                <button class="layui-btn layui-btn-danger" data-type="invalid">作废</button>
                <button class="layui-btn layui-btn-warm" data-type="recover">恢复</button>
                <button class="layui-btn layui-btn-normal" data-type="upspider">手动更新地址</button>
            </div>
        </div>
    </div>
</fieldset>

<table class="layui-table"
       lay-data="{height:'full-235', url:'/admin/explain_list', page:true, id:'list', limits: [10,15,20,25,30,50], limit: 15, id:'tbl_explain'}"
       lay-filter="list">
    <thead>
    <tr>
        <th lay-data="{checkbox:true, fixed: true}"></th>
        <th lay-data="{field:'type_str', width:80}">类型</th>
        <th lay-data="{field:'active_str', width:80}">状态</th>
        <th lay-data="{field:'create_time_str', width:160}">添加时间</th>
        <th lay-data="{field:'url', width:'750'}">解析地址</th>
    </tr>
    </thead>
</table>
</body>
{{template "inc/layui_js.html" .}}
<script type="text/javascript">
    layui.use(['table', 'form', 'layer'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            from_ele = layui.form;

        //公共部分
        //数据重载
        function tableReload() {
            table.reload('tbl_explain', {
                where: {
                    active: $("#sel_active").val(),
                    type: $("#sel_type").val()
                }
            });
        }

        //更新状态信息
        function updateActive(action_type) {
            var checkStatus = table.checkStatus('tbl_explain')
                , data = checkStatus.data;
            if (data.length < 1) {
                if (action_type < 1) {
                    layer.alert('请选择要作废的解析地址');
                } else {
                    layer.alert('请选择要恢复的解析地址');
                }
                return
            }
            var ids = "";
            $.each(data, function (i, elem) {
                if (i < 1) {
                    ids += elem.id;
                } else {
                    ids += "," + elem.id;
                }
            });

            $.ajax({
                async: false,
                type: "GET",
                url: "/admin/explain_activeUpdate",
                dataType: "json",
                data: {ids: ids, action_type: action_type},
                success: function (data, textStatus) {
                    if (data.code > 0) {
                        if (action_type > 0) {
                            layer.alert("恢复失败");
                        } else {
                            layer.alert("作废失败");
                        }
                    } else {
                        tableReload();
                    }
                }
            });
        }

        //按钮事件
        var active = {
            //作废
            invalid: function () {
                updateActive(0);
            },
            //恢复
            recover: function () {
                updateActive(1);
            },
            //查询解析地址
            search: function () {
                tableReload();
            },
            upspider: function () {
                ///admin/explain_spiderUpdate
                $.ajax({
                async: false,
                type: "GET",
                url: "/admin/explain_spiderUpdate",
                dataType: "json",
                success: function (data, textStatus) {
                    layer.alert("已经更新地址，请1分钟后重进本页面。");
                }
            });
            }
        };

        $('.tools-btn .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>