<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    {{template "inc/mate.html" .}}
    {{template "inc/layui_css.html" .}}
    {{template "inc/ie_supper.html" .}}
</head>
<body>
<div class="layui-elem-quote" style="margin-top: 20px;">
    <p>解析地址</p>
</div>

<div class="layui-btn-group tools-btn">
    <button class="layui-btn layui-btn-normal" data-type="add">添加解析地址</button>
</div>

<table class="layui-table" lay-data="{height:'full-90', url:'/admin/explain_list', page:true, id:'list', limits: [15,20,25,30,50], limit: 15}" lay-filter="list">
    <thead>
    <tr>
        <th lay-data="{checkbox:true, fixed: true}"></th>
        <th lay-data="{field:'type_str', width:80}">类型</th>
        <th lay-data="{field:'create_time', width:150}">添加时间</th>
        <th lay-data="{field:'url', width:'750'}">解析地址</th>
    </tr>
    </thead>
</table>
</body>
<div id="div_explain_add" style="padding: 25px; line-height: 0px; background-color: #393D49; color: #fff; font-weight: 300;">
    <form class="layui-form" action="login" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">解释地址：</label>
            <div class="layui-input-block">
                <input type="text" name="phone_number" lay-verify="phone" autocomplete="off" placeholder="手机号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <input type="password" name="pwd" lay-verify="pwd" autocomplete="off" placeholder="密码" class="layui-input">
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn layui-btn-big" lay-submit="" lay-filter="btn_login">登录</button>
            <a href="reg" class="layui-btn layui-btn-big layui-btn-normal">注册</a>
        </div>
    </form>
</div>
{{template "inc/layui_js.html" .}}
<script type="text/javascript">
    layui.use(['table', 'form', 'layer'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            from_ele = layui.form;

        //按钮事件
        var active={
            add:function () {
                //打开添加解析地址窗口
                layer.open({
                    type: 1,
                    title: false //不显示标题栏
                    ,
                    closeBtn: false,
                    area: '500px;',
                    shade: 0.8,
                    id: 'LAY_add' //设定一个id，防止重复弹出
                    ,
                    moveType: 1 //拖拽模式，0或者1
                    ,
                    content: $('#div_explain_add')
                });
            }
        };

        $('.tools-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</html>