<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		{{template "inc/mate.html" .}}
		{{template "inc/layui_css.html" .}}
		{{template "inc/ie_supper.html" .}}
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
		    	<div class="layui-logo" style="font-weight: bold;">追剧365</div>
		    	<!-- 头部区域（可配合layui已有的水平导航） -->
		    </div>
		  
		    <div class="layui-side layui-bg-black">
			    <div class="layui-side-scroll">
			        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			        <ul class="layui-nav layui-nav-tree"  lay-filter="left_menu_all">
				        <li class="layui-nav-item layui-nav-itemed">
				            <a class="" href="javascript:;">常用功能</a>
				            <dl class="layui-nav-child">
					            <dd><a href="/admin/explain" target="iframe_content">解析地址</a></dd>
					            <dd><a href="javascript:;" target="iframe_content">会员管理</a></dd>
					            <dd><a href="javascript:;" target="iframe_content">优酷</a></dd>
					            <dd><a href="javascript:;" target="iframe_content">腾讯</a></dd>
					            <dd><a href="javascript:;" target="iframe_content">乐视</a></dd>
				            </dl>
				        </li>
				        <li class="layui-nav-item">
				            <a href="javascript:;">解决方案</a>
				            <dl class="layui-nav-child">
					            <dd><a href="javascript:;">列表一</a></dd>
					            <dd><a href="javascript:;">列表二</a></dd>
					            <dd><a href="">超链接</a></dd>
				            </dl>
				        </li>
				        <li class="layui-nav-item"><a href="javascript:;">小主等我</a></li>
				        <li class="layui-nav-item"><a href="javascript:;">小主等我</a></li>
			        </ul>
			    </div>
		    </div>
		  
		    <div class="layui-body">
			    <!-- 内容主体区域 -->
				<iframe src="/admin/explain" frameborder="0" id="iframe_content" name="iframe_content" style="width: 100%; height: 300px;"></iframe>
		    </div>
		  
		    <div class="layui-footer">
			    <!-- 底部固定区域 -->
			    技术支持：迷路的阿修罗
		    </div>
		</div>
	</body>
	{{template "inc/layui_js.html" .}}
	<script type="text/javascript">
		layui.use('element', function(){
			var element = layui.element,
				$ = layui.jquery,
				setIframe = function(){
				    var height = $(window).height() - 106;
				    $('#iframe_content').height(height);
				};
  
				setIframe();
				$(window).on('resize', setIframe);
		});
	</script>
</html>