<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>全民解析-vip视频在线解析</title>
  <link href="./bootstrap.min.css" rel="stylesheet">
  <link href="./stylee.css" type="text/css" rel="stylesheet">
   <script type="text/javascript">eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('b a(){0 6=1.2("9").4;0 5=1.2("3");0 3=1.2("3").c;0 8=5.e[3].4;0 7=1.2("f");7.d=8+6}',16,16,'var|document|getElementById|jk|value|jkurl|diz|cljurl|jkv|url|dihejk|function|selectedIndex|src|options|player'.split('|'),0,{}))</script>
   </head>
<body background="./bj.png">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 center-block" style="float: none;">
  <h3 class="text-muted" align="center">全民vip视频在线解析</h3>
<hr>
<section data-id="86013" class="_135editor" style="border: 0px none; padding: 0px; position: relative;">
    <section style="margin-right: 5px; margin-left: 5px; border: 8px solid rgb(255, 255, 255); box-shadow: rgb(230, 230, 220) 0px 1px 2px 2px; border-radius: 2%; background-color: rgba(255, 255, 255, 0.6);">
        <p style="text-align: center;">
            <img style="border-top-left-radius: 2%; border-top-right-radius: 2%; vertical-align: middle; display: inline; width: 100%; visibility: visible !important;" src="./1.jpg" width="100%" height="" border="0" mapurl="" title="" alt="">
        </p>
        <section style="padding: 20px 10px; border-width: 5px 0px 0px; border-style: solid none none; border-left-color: rgb(219, 219, 219); border-top-color: rgb(255, 255, 255); border-bottom-left-radius: 2%; border-bottom-right-radius: 2%;" class="135brush">
            <p style="letter-spacing: 1px; text-align: center;">
                <span style="color: #7F7F7F;">免费全网VIP视频会员免广告看电影！亲们如果觉得好用，请帮我们传播！ 若播放异常，刷新，更换接口尝试哦！ 
</span>
            </p>
			

        </section>
    </section>
</section>
	<div class="col-md-14 column">
    <div class="panel panel-default">
     <div id="kj" class="panel-body">
   <iframe src="http://vip.jlsprh.com/index.php?url=http://v.youku.com/v_show/id_XMjkyMTUwMTkwOA==.html"id="player"width="100%"height="600px"allowTransparency="true"frameborder="0"scrolling="no"></iframe>	 
     </div>
    </div>
   </div><div class="col-md-14 column">
    <form method="get" id="1233911832"></form>
     <div class="input-group" style="width: 100%;">
      <span class="input-group-addon input-lg" style="width: 80px; ">选择接口</span>
      <select class="form-control input-lg" id="jk">
<option value="http://jx.vgoodapi.com/jx.php?url=" selected="">⑩号vip引擎系统【乐视Le】</option>
      <option value="http://vip.jlsprh.com/index.php?url=" selected="">⑨号vip引擎系统【芒果TV】</option>
	  <option value="http://www.82190555.com/video.php?url=" selected="">⑧号vip引擎系统【优酷Youku】</option>
	  <option value="http://www.dgua.xyz/webcloud/?url=" selected="">⑦号vip引擎系统【爱奇艺稳定】</option>
	  <option value="http://api2.vparse.org?url=" selected="">⑥号vip引擎系统【腾讯稳定】</option>
	  <option value="http://000o.cc/jx/ty.php?url=" selected="">⑤号vip引擎系统【土豆稳定】</option>
	  <option value="http://api.91exp.com/svip/?url=" selected="">④号vip引擎系统【搜狐SOhu】</option>
      <option value="http://api.662820.com/xnflv/index.php?url=" selected="">③号vip引擎系统【PPTV解析】</option>
      <option value="http://v.72du.com/api/?url=" selected="">②号通用vip引擎系统【稳定通用】</option>
      <option value="http://vip.jlsprh.com/index.php?url=" selected="">①号通用vip引擎系统【稳定通用】</option> </select>
     </div>
     <br>
     <div class="input-group" style="width: 100%;">
      <span class="input-group-addon input-lg" style="width: 80px;">播放地址</span>
      <input class="form-control input-lg" type="search" placeholder="电脑使用Ctrl+V粘贴网址-手机直接长按粘贴网址" id="url">
     </div>
     <br>
     <div>
      <button id="bf" type="button" class="btn btn-success btn-lg btn-block" onclick="dihejk()">Go-点击开始解析</button>
     </div>  
   </div>
     <div class="unit-100">
    <div class="language">
        <a class="btn2 btn-outline2" href="http://www.le.com/" rel="nofollow" target="_blank">进入乐视视频</a>
        <a class="btn2 btn-outline2" href="http://www.iqiyi.com/" rel="nofollow" target="_blank">进入奇艺视频</a>
        <a class="btn2 btn-outline2" href="http://www.mgtv.com/" rel="nofollow" target="_blank">进入芒果视频</a>
		    <a class="btn2 btn-outline2" href="http://www.tudou.com/" rel="nofollow" target="_blank">进入土豆视频</a>		
       <br>
		    <a class="btn2 btn-outline2" href="http://v.qq.com/" rel="nofollow" target="_blank">进入腾讯视频</a>		
        <a class="btn2 btn-outline2" href="http://www.youku.com/" rel="nofollow" target="_blank">进入优酷视频</a>
		    <a class="btn2 btn-outline2" href="http://tv.sohu.com/" rel="nofollow" target="_blank">进入搜狐视频</a>
		    <a class="btn2 btn-outline2" href="http://www.pptv.com/" rel="nofollow" target="_blank">进入pptv视频</a>
  </div>
</div><table class="table table-bordered">
	<tbody>
	   
		<tr>
   
		</tr>
      </tbody>
	  <!--换行-->
          </table>
		  	<table class="table table-bordered">
	<thead>
		<tr>
			<th class="tit">VIP视频解析说明</th>
		</tr>
	</thead>
<tbody>
		<tr>
            <td>
    <h3>操作指南</h3>
    <ul style="list-style-type:none">
        <li>第&nbsp;一&nbsp;步&nbsp;进入各大视频网站，找到想要观看的VIP视频，然后复制链接（浏览器上的视频地址）</li>
        <li>第&nbsp;二&nbsp;步&nbsp;将复制的链接粘贴到本站播放地址，并点击开始解析</li>
        <li>第&nbsp;三&nbsp;步&nbsp;等待解析完成，即可免费观看VIP视频</li>


</ul>
	  
<div id="homeso">
<form method="get" id="soform" style="text-align: center;float: none" action="http://www.yanll.cn/search">
<img id="imgsrc" src="jiaocheng/sologo.png" alt="sou"><br><br>
<input tabindex="2" class="form-control input-lg" id="sos" name="sousuo" type="text" placeholder="输入你要观看的视频名或视频网址" value="">
<input type="hidden" name="qiehuan" value="1">
<button id="button" tabindex="3" class="btn btn-success btn-lg btn-block" type="text">搜索全网 观看</i></button>


</form>



<script>
 function  valuechange(){
 var qiehuan = document.getElementById('s1').value;
  if(qiehuan=='q'){
  document.getElementById('soform').action = 'http://www.yanll.cn/search';
  document.getElementById('imgsrc').src = 'http://www.yanll.cn/wp-content/uploads/2017/07/sologo.png';
  }else if(qiehuan=='b'){
  document.getElementById('soform').action = 'http://www.yanll.cn/baiduwp';
  document.getElementById('imgsrc').src = 'http://www.yanll.cn/wp-content/uploads/2017/07/wp.png';
  alert('百度网盘搜索仅支持输入 资源名称');
  }else if(qiehuan=='c'){
  document.getElementById('soform').action = 'http://www.yanll.cn/mv';
  document.getElementById('imgsrc').src = 'http://www.yanll.cn/wp-content/uploads/2017/07/yinyue.png';
  alert('MV搜索仅支持输入 歌手名字或者歌曲名字');
  }else{
  document.getElementById('soform').action = 'http://www.yanll.cn/cili';
  document.getElementById('imgsrc').src = 'http://www.yanll.cn/wp-content/uploads/2017/07/cili.png';
  alert('迅雷磁力搜索仅支持输入 资源名称');
  }
  
  }
	var a = document.getElementById('sos');
	var btn = document.getElementById('button');
btn.onclick = function(){
 var reg = /^((https|http|ftp|rtsp|mms)?:\/\/)[^\s]+/;
 if(!reg.test(a.value)){
	 if(!a.value){
		 alert('不能为空');
	 }else{
	 }
 }
 else{
var url = '/play?make=url&id='+a.value;
window.location.href=url;
 return false;
 }
}
</script>

	  
		<tr>
            <td>
  <h3>温馨提示</h3>
     <div class="unit-100">
    <div class="language">
        <a class="btn2 btn-outline2"  rel="nofollow" >本站视频源于互联网视频网站，仅供学习交流。已支持以上网站视频播放(包含VIP电影)
</a>
         <a class="btn2 btn-outline2" href="jiaocheng/" rel="nofollow" target="_blank">图文使用教程(点击)
</a>		
          <a class="btn2 btn-outline2"  href="https://www.sojump.hk/jq/15859959.aspx" target="_blank" selected="">使用遇到问题，请点击这里反馈，收到问题及时处理哦！
</a>
    </div>
	         <a href="http://www.yanll.cn/appdownload/app.html" target="_blank"><img style="border-top-left-radius: 2%; border-top-right-radius: 2%; vertical-align: middle; display: inline; width: 100%; visibility: visible !important;" src="./22.png" width="100%" height="" border="0" mapurl="" title="" alt="yh"></div>
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div></td>
		</tr>
      </tbody>
	  </table>
<div id="coin" class="coin"><script>var Coin = true;</script></div>

<!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cyt7cNX4t'; 
var conf = 'prod_f6ce2c30fb7a51f81dd5e84b8d6dc541'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>


<script>

    // 百度自动推送工具代码
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = '';
        } else {
            bp.src = '';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
	
</script>
<div class="panel-body" style="text-align: center;">
 <div class="container-fluid">
 <a target="_blank" href="http://qmaile.com" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span>vip视频解析</a>
 <button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-user"></span>  <a href="http://wpa.qq.com/msgrd?v=3&uin=81738871&site=qq&menu=yes"> 客服 </a>
 </button> 
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261865235'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261865235%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
&nbsp;&nbsp;&nbsp;Copyright © 全民vip视频解析  
</div>
<a id="jsl_speed_stat" href="http://www.yunaq.com/#zid=" target="_blank">知道创宇云安全</a>
<script src="//static.yunaq.com/static/js/stat/word_stat.js" charset="utf-8" type="text/javascript"></script>
<script>
function dalert(){
var returnVal = window.confirm("你想看最新 推荐 电影电视剧吗? （如需留在此页请点取消）", "提示");
if(returnVal){
window.location.href="http://www.yanll.cn";
}
}
setTimeout('dalert()',10000);
</script>
</div></div></body></html>