<!DOCTYPE HTML>
<html>
	<head>
		<title>会员中心-追剧365</title>
		{{template "inc/mate.html" .}}
		{{template "inc/layui_css.html" .}}
		{{template "inc/ie_supper.html" .}}
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
		    	<div class="layui-logo" style="font-weight: bold;">追剧365</div>
		    	<ul class="layui-nav layui-layout-left">
		    		<li class="layui-nav-item" style="line-height: 90px">
		    			<em>平时有网购的朋友可以到&nbsp;&nbsp;“&nbsp;会员福利&nbsp;”&nbsp;&nbsp;下的&nbsp;&nbsp;“&nbsp;马云爸爸的福利&nbsp;”&nbsp;&nbsp;，生活不易，把每分钱都用在刀刃上。</em>
		    		</li>
		    	</ul>
		    	<!-- 头部区域（可配合layui已有的水平导航）-->
		    </div>
		  
		    <div class="layui-side layui-bg-black">
			    <div class="layui-side-scroll">
			        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			        <ul class="layui-nav layui-nav-tree"  lay-filter="left_menu_all">
				        <li class="layui-nav-item layui-nav-itemed">
				            <a class="" href="javascript:;">我的世界</a>
				            <dl class="layui-nav-child">
					            <dd><a href="/member/info" target="iframe_content">个人信息</a></dd>
				            </dl>
				        </li>
				        <li class="layui-nav-item layui-nav-itemed">
				            <a href="javascript:;">视频类型</a>
				            <dl class="layui-nav-child">
					            <dd><a href="/member/video?type=1" target="iframe_content">爱奇艺</a></dd>
					            <dd><a href="/member/video?type=2" target="iframe_content">优酷</a></dd>
					            <dd><a href="/member/video?type=3" target="iframe_content">腾讯</a></dd>
					            <dd><a href="/member/video?type=4" target="iframe_content">乐视</a></dd>
				            </dl>
				        </li>
				        <li class="layui-nav-item layui-nav-itemed">
				            <a href="javascript:;">会员福利</a>
				            <dl class="layui-nav-child">
				            	<dd><!--<a href="javascript:;">小主，我马上到 哟！</a></dd>-->
					            <dd><a href="http://yhq.1025m.com" target="_blank">马云爸爸的福利</a></dd>
				            </dl>
				        </li>
				        <!--<li class="layui-nav-item"><a href="javascript:;">小主等我</a></li>
				        <li class="layui-nav-item"><a href="javascript:;">小主等我</a></li>-->
			        </ul>
			    </div>
		    </div>
		  
		    <div class="layui-body">
			    <!-- 内容主体区域 -->
			    <iframe src="/member/info" frameborder="0" id="iframe_content" name="iframe_content" style="width: 100%; height: 300px;"></iframe>
		    </div>
		  
		    <div class="layui-footer">
			    <!-- 底部固定区域 -->
			    <em>技术支持：迷路的阿修罗</em>
		    </div>
		</div>
	</body>
	{{template "inc/layui_js.html" .}}
	<script type="text/javascript">
		layui.use('element', function(){
			var element = layui.element,
				$ = layui.jquery,
				setIframe = function(){
				    var height = $(window).height() - 106;
				    $('#iframe_content').height(height);
				};
  
				setIframe();
				$(window).on('resize', setIframe);
		});
	</script>
</html>
